/*---------------------------This is for background---------------------------*/
*{
    padding: 0px;
}
/*This hides thes scroll bar*/
::-webkit-scrollbar {
    display: none;
  }

body
{  
    margin: 0;
    padding: 0;
    overflow-y: scroll;
  
}


/*----------------------------This is for intro page section----------------------------- */
.FirstPage{
    overflow-y: hidden;
    height: 100%;
}

.bgfirst{
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.39) 0%, #FFC8DD 0.02%, #A2D2FF 91.8%, #A2D2FF 125.5%);
    padding: 0;
    margin: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;   
}

.logo{
    top: 20px;
    padding: 20px;
    border: 2px black;
}

.logo2{
    position: absolute;
    visibility: hidden;
}

#startText{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Sacramento';
    font-size: 225px;
    padding: 0;
}

.text1{
    align-self: center;
}

.text2{
    line-height: 0px;
    margin-top: 100px;
    align-self: flex-end;
}

.abhi{
    color: #AC96B9;
}

.abhi2{
    position: absolute;
    bottom: -2px;
    right: 45px;
    align-self: flex-end;
    color: white;
    z-index: -1;
}

.text3{
    position: absolute;
    align-self: center;
    line-height: normal;
    bottom: 220px;
    transform: rotate(-15deg);
    font-size: 34px;
}

.arrow1{
    position: absolute;
    align-self: center;
    bottom: 120px;
}


@font-face {
    font-family: 'Sacramento';
    src: url('Sacramento.woff') format ('woff');
}


/*---------------responsive first page------------------------*/
@media only screen and (max-width: 600px) {
    
    body{  
        overflow-y: scroll;
    }

    .bgfirst{
        background: linear-gradient(180deg, rgba(255, 0, 0, 0.39) 0%, #FFC8DD 0.02%, #A2D2FF 91.8%, #A2D2FF 125.5%);
        padding: 0;
        margin: 0;
        z-index: -1;
        height: 100vh;
        
    }

    #startText{
        position: relative;
        font-size: 160px;
        /*display: block;*/
    }

    .logo{
        visibility: hidden;
    }

    .logo2{
        position: absolute;
        visibility: visible;
        top: 20px;
        left: 20px;
    }

    .text1{
        justify-content: flex-end;
    }

    .abhi{
        visibility: hidden;
        position: absolute;
        right: -100px;
    }

    .abhi2{
        visibility: hidden;
    }

    .navBar{
        visibility: hidden;
    }
    
}

/*------------------------frist page ENDS----------------------------*/

/*-------------------nav bar-----------------*/
ul{
    list-style: none;
}

.navBar li{
    display: inline-block;
    padding: 20px;
}

.navBar{
    position: absolute;
    display: flex;
    right: 20px;
    top: -10px;
}

.navBar a{
    font-size: 30px;
    font-family: monospace;
    line-height: normal;
    padding: 20px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: background-color 0.5s ease-in; 
    color: #AC96B9;
}

.navBar a:hover{
    color: black 80%;
    background-color: #A2D2FF;
    font-weight: bold;
}


/*------------------------------Second Page----------------------------------*/
.bgSecond{
    height: 100vh;
    width: 100vw;   
}

.upTriangle{
    position: absolute;
    height: inherit;
    width: inherit;
    top: 975px;
}


.downTriangle{
    position: absolute;
    top: 1200px;
    height: inherit;
    width: inherit;
    opacity: 0.5;
}

.secondPageIntro{
    position: absolute;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    top: 990px;
    right: 450px;
    line-height: 50px;
}

.projectNB{
    position: absolute;
    top: 1250px;
    left: 150px;
    transform: rotate(-15deg);
}

.aboutMeNM{
    position: absolute;
    top: 1650px;
    right: 150px;
    transform: rotate(15deg);
}

/*---------------responsive second page------------------------*/
@media only screen and (max-width: 600px) {
    .upTriangle{
        visibility: hidden;
    }

    .downTriangle{
        visibility: hidden;
    }

}


.SecondPage{
    height:100%;
}