/*---------------------------This is for background---------------------------*/
*{
    padding: 0px;
}
/*This hides thes scroll bar*/
::-webkit-scrollbar {
    display: none;
  }

body
{  
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

html, body{
    overflow-x: hidden ;
}


/*----------------------------This is for intro page section----------------------------- */
.FirstPage{
    overflow-y: hidden;
    height: 100vh;
}

.bgfirst{
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.39) 0%, #FFC8DD 0.02%, #A2D2FF 91.8%, #A2D2FF 125.5%);
    padding: 0;
    margin: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;   
}

.logo{
    position: absolute;
    top: 20px;
    padding: 20px;
    border: 2px black;
}

.logo2{
    visibility: hidden;
}

#startText{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Sacramento';
    font-size: 225px;
    padding-top: 53px;
}

.text1{
    justify-content: center;
    align-self: center;
    margin-top: 93px;
    margin-bottom: 93px;
}

.text2{
    line-height: 0px;
    align-self: flex-end;
    margin: 60px;
    margin-right: 0px;
}

.abhi{
    color: #AC96B9;
    text-shadow: -3px 3px 0px rgb(255, 255, 255);
}

.text3{
    position: absolute;
    align-self: center;
    line-height: normal;
    bottom: 220px;
    transform: rotate(-15deg);
    font-size: 34px;
}

.arrow1{
    position: absolute;
    align-self: center;
    bottom: 120px;
}


@font-face {
    font-family: 'Sacramento';
    src: url('Sacramento.woff') format ('woff');
}


/*---------------responsive first page------------------------*/
@media only screen and (max-width: 600px) {
    
    body{  
        overflow-y: scroll;
    }

    .bgfirst{
        background-color: linear-gradient(180deg, rgba(255, 0, 0, 0.39) 0%, #FFC8DD 0.02%, #A2D2FF 91.8%, #A2D2FF 125.5%);
        z-index: -1;
        height: 100%;        
    }

    #startText{
        position: relative;
        font-size: 100px;
        align-self: center;
        padding-top: 0px;
    }

    .logo{
        visibility: hidden;
    }

    .logo2{
        visibility: visible;
        padding: 10px;
        justify-content: center ;
    }

    .text1{
        margin: 150px;        
    }

    .text2{
        position: relative;
        margin: 13px;
        top: 10vh;
        align-self: center;
    }


    @keyframes glow {
        0% {
            text-shadow: 0 0 100px 50px
            rgba(25, 183, 194, 0.705);
          }
          50% {
            text-shadow: 0 0 100px 50px
             rgba(238, 130, 238, 1);
          }
          100% {
            text-shadow: 0 0 100px 50px
            rgba(25, 183, 194, 0.705);
          }
    }
   
}

/*------------------------frist page ENDS----------------------------*/

/*-------------------nav bar-----------------*/
ul{
    list-style: none;
}

.navBar li{
    display: inline-block;
    padding: 20px;
}

.navBar{
    position: absolute;
    display: flex;
    right: 20px;
    top: -10px;
}

.navBar a{
    font-size: 30px;
    font-family: monospace;
    line-height: normal;
    padding: 20px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: background-color 0.5s ease-in; 
    color: #AC96B9;
}

.navBar a:hover{
    color: black 80%;
    background-color: #A2D2FF;
    font-weight: bold;
}

/*------------------------------Responsive NavBar---------------------- */
@media only screen and (max-width: 600px) {
    .navBar a{
        font-size: 10px;
        padding: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

        transition: block; 
    }

    .navBar li{
        padding: 5px;
    }

    .navBar a:hover{
       visibility: hidden;
    }
}

/*-----------------------------Nav Bar ENDS---------------------------------*/



/*------------------------------Second Page----------------------------------*/
.bgSecond{
  height: 156vh; 
  background: linear-gradient(10deg, #2369A5 5%, #A2D2FF 61.49%);
}

.secondPageIntro{
    font-family: monospace;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    margin: 0px;
    padding-top: 160px ;

    /*text-shadow: -2px 2px 2px
            rgb(255, 255, 255);
    animation: change-color 5s ease-in-out infinite;
    ---------Use javascript to highlight each word line by line giving it a 
    ---------glow kinda effect---------------------------------------------*/
}


/*@keyframes change-color {
    0% {
        text-shadow: -2px 1px 0px
            rgb(255, 132, 224);
      }
    50% {
        text-shadow: -2px 1px 0px
         rgb(17, 0, 255);
      }
    100% {
        text-shadow: -2px 1px 0px
        rgb(255, 132, 224);
      }
}*/



.projectNB{
    position: absolute;
    top: 1410px;
    left: 220px;
    transform: rotate(-15deg);
}

.projectNBCursive{
    position: absolute;
    left: 170px;
    top: 1297px;
}

.aboutMeNB{
    position: absolute;
    top: 1545px;
    right: 220px;
    transform: rotate(15deg);
}

.aboutMeNBCursive{
    position: absolute;
    top: 1450px;
    right: 170px;
}

.projectNB:hover{
    animation: scaleRotate 1s  cubic-bezier(0.58, 1, 0.48, 1) 1;
}

.aboutMeNB:hover{
    animation: scaleRotate2 1s  cubic-bezier(0.58, 1, 0.48, 1) 1;
}

@keyframes scaleRotate {
    0% {
        transform: scale(1) rotate(-15deg);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1) rotate(345deg);
      }
}

@keyframes scaleRotate2 {
    0% {
        transform: scale(1) rotate(15deg);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1) rotate(-345deg);
      }
}

/*----------------------------------SECOND PAGE END--------------------------------*/

/*---------------------------------------FOOTER----------------------------------*/

.bgThird{
    /* Rectangle 19 */
    width: 1920px;
    height: 250px;

    background: linear-gradient(3.15deg, #DE6B97 -0.34%, #2369A5 82.68%, #6491bb 123.56%);
}

.footerLogo{
    position: absolute;
    right: 30px;
    margin: 75px;
}

.emailLogo{
    position: absolute;
    margin: 10px;
    top: 2000px;
    left: 93px;
}

.callLogo{
    position: absolute;
    margin: 20px;
    top: 2050px;
    left: 77px;
}

.instaLogo{
    position: absolute;
    margin: 20px;
    top: 2108px;
    left: 73px;
}

.icons{
    position: absolute;
    margin: 0px;
    top: 2008px;
    left: 73px;
}

.contacts a{
    font-family: monospace;
    color: black;
    font-size: 20px;
}

.contacts{
    position: absolute;
    padding: 10px;
    top: 1960px;
    left: 116px;
    line-height: 57px;
}

/*----------------------------------FOOTER ENDS----------------------------------*/

/*-----------------------------------ABOUT PAGE-----------------------------------*/
/*-----------------------------------Section Uno-----------------------------------*/
.aboutPg1{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.39) 0%, 
                #FFC8DD 0.02%, #A2D2FF 91.8%, #A2D2FF 125.5%);
}

.aboutLogo{
    /*position: absolute;
    top: 35px;*/
    padding-top: 35px;
    border: 2px black;
}

.rect1{
    position: absolute;
    left: 405px;
    top: 316px;
    
}

.selfPortrait{
    z-index: 1;
    align-self: center;
}

.intro1{
    z-index: 1;
   position: absolute;
   left: 520px;
   top: 560px;

}

/*--------------------------------Section Uno Fin-----------------------------------*/
/*---------------------------------Section Dos-----------------------------------*/
.aboutPg2{
    height: 100vh;
    background: linear-gradient(10deg, #2369A5 2.78%, #A2D2FF 61.49%);

}
/*-------------------------------Section Dos Fin-----------------------------------*/
/*-----------------------------------ABOUT ENDS-----------------------------------*/